@model IEnumerable<TP2D71.Models.DataModels.Pokemon>
@using TP2D71.Helpers;
@{
    var pokedex = new Pokedex();
    var listePoketypes = new SelectList(pokedex.PokeTypes.List(), "PokeTypeID", "Name");
    var listeHabitats = new SelectList(pokedex.Habitats.List(), "HabitatID", "Name");
    var listeSpecies = new SelectList(pokedex.Species.List(), "SpeciesID", "Name");
}

@section header{
    <link href="~/Content/poketype.css" rel="stylesheet" />
}

<div class="row" style="padding-top: 60px;">
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "Pokemon", FormMethod.Get)) {
            <div class="row well">
                @Html.Label("filtrePoketype", "Poketype:", htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-2">@Html.DropDownList("filtrePoketype", listePoketypes, String.Empty, htmlAttributes: new { @class = "form-control" })</div>
                @Html.Label("filtreHabitat", "Habitat:", htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-2">@Html.DropDownList("filtreHabitat", listeHabitats, String.Empty, htmlAttributes: new { @class = "form-control" })</div>
                @Html.Label("filtreSpecies", "Species:", htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-2">@Html.DropDownList("filtreSpecies", listeSpecies, String.Empty, htmlAttributes: new { @class = "form-control" })</div>
                <div class="col-md-2"><input type="submit" value="Filtrer la liste" class="btn btn-success" /></div>
            </div>
        }
    </div>
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ThumbURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attack)
                </th>
                <th>
                    <span>PokeType</span>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FKHabitatID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FKSpeciesID)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        <img src="@($"/Content/sprites/{item.PokemonID}.png")" style="width:50px;height:50px;" />
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.HP)</td>
                    <td>@Html.DisplayFor(modelItem => item.Attack)</td>
                    <td>
                        <div class="@item.PokeType01.Name">@item.PokeType01.Name</div>
                        <div class="@(item.PokeType02?.Name)">@(item.PokeType02?.Name)</div>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Habitat.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Species.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Evolution.Name)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PokemonID }, htmlAttributes: new { @class = "btn btn-primary" })
                        @Html.ActionLink("Details", "Details", new { id = item.PokemonID }, htmlAttributes: new { @class = "btn btn-primary disabled" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>