@model TP2D71.Models.DataModels.Utilisateur
@using (Html.BeginForm("Edit", "Utilisateur", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal well" })) {
    @Html.AntiForgeryToken()
    <h1 class="page-header text-center">Bienvenue! @Model.NomUtilisateur</h1>
    <hr />
    @Html.ValidationSummary(true, String.Empty, new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UtilisateurID)

    <div class="form-group">
        @Html.LabelFor(model => model.NomUtilisateur, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NomUtilisateur, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NomUtilisateur, String.Empty, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HashMotDePasse, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HashMotDePasse, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HashMotDePasse, String.Empty, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Courriel, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Courriel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Courriel, String.Empty, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Index", "Pokemon", htmlAttributes: new { @class = "btn btn-link" })
        </div>
    </div>
}
@using (Html.BeginForm("Delete", "Utilisateur", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal well", onsubmit = "return confirm('Certain Certain?');" })) {
    @Html.HiddenFor(model => model.UtilisateurID)
    <button type="submit" class="btn btn-danger" onclick="window.confirm(" Supprimer votre compte?");">Supprimer votre compte?</button>
}
